<div class="pull-left h-logo">
  <a [routerLink]="['/']" class="hidden-xs">
    <h1>Basil</h1>
    <small>{{ 'common.tagline' | translate }}</small>
  </a>

  <div class="menu-collapse" (click)="toggleSidebar()">
    <div class="mc-wrap">
      <div class="mcw-line top"></div>
      <div class="mcw-line center"></div>
      <div class="mcw-line bottom"></div>
    </div>
  </div>
</div>

<ul class="pull-right h-menu">
  <li *ngIf="vocalAssistant">
    <button voice-assistant-button [title]="'common.vocalAssistant' | translate"></button>
  </li>
  <li>
    <button cookmode-button [title]="'common.cookmode' | translate"></button>
  </li>
  <!--<li>
      <button kitchen-sidebar-button class="larger" [title]="'common.cookingRecipes' | translate"></button>
  </li>
  <li class="hm-search-trigger">-->
  <!--<a class="larger">-->
  <!--<i class="zmdi zmdi-search"></i>-->
  <!--</a>-->
  <!--</li>-->
</ul>

<!--<div class="media-body h-search">-->
<!--<form class="p-relative">-->
<!--<input type="text" class="hs-input" [placeholder]="'common.searchRecipe' | translate'">-->
<!--<i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>-->
<!--</form>-->
<!--</div>-->
