<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Modifier la recette</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button ng-click="save()">
            <md-icon class="icon-check"></md-icon>
            Enregistrer
        </md-button>
    </div>
</md-toolbar>
<div flex-gt-sm="90" flex-gt-md="80" class="recipe-new">
    <md-content>
        <ng-include src="'/kitchen/views/includes/_recipe-form.html'"></ng-include>

        <md-divider></md-divider>

        <md-button class="md-button md-raised md-warn" ng-click="delete()">Supprimer</md-button>
    </md-content>
</div>