@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

:host {
  .tab-nav {
    a {
      cursor: pointer;
    }

    margin-bottom: 20px;
  }

  .web-recipe-import {
    margin-bottom: 0;

    .row {
      margin: 0;
      display: flex;
      align-items: center;
    }

    input {
      margin-bottom: 5px;
    }

    button {
      margin-left: 20px;
    }
  }

  .form-group.ingredients textarea,
  .form-group.steps textarea {
    height: 200px;
  }

  @media (min-width: $screen-sm-min) {
    .form-group.ingredients textarea,
    .form-group.steps textarea {
      height: 400px;
    }
  }
}
