<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Nouvelle recette</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button ng-click="save()">
            <md-icon class="icon-check"></md-icon>
            Enregistrer
        </md-button>
    </div>
</md-toolbar>
<div flex-gt-sm="90" flex-gt-md="80" class="recipe-new" layout-padding>
    <md-tabs md-selected="selectedTabIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Page Web">
            <md-content class="md-padding">
                <p>Entrez l'adresse URL de la page Web où se trouve la recette à ajouter :</p>
                <div layout="row">
                    <md-input-container flex>
                        <label>URL</label>
                        <input type="url" ng-model="remoteUrl">
                    </md-input-container>
                    <md-button class="md-raised" ng-click="parseUrl()">
                        Ajouter
                    </md-button>
                </div>

            </md-content>
        </md-tab>
        <md-tab label="Nouvelle recette">
            <md-content class="md-padding">
                <ng-include src="'/kitchen/views/includes/_recipe-form.html'"></ng-include>
            </md-content>
        </md-tab>
    </md-tabs>
</div>