<div flex-gt-sm="90" flex-gt-md="80" class="recipe-detail">
    <div class="header" ng-class="{'cookmode': ctrl.isCooking()}">
        <div class="recipe-image">
            <img ng-src="{{ctrl.recipe.image}}">
        </div>

        <div layout="row" class="recipe-title" layout-align="space-between center">
            <h2 class="title" flex="60">
                <md-button aria-label="Toggle favorite" class="md-icon-button" ng-click="ctrl.toggleFavorite()">
                    <md-icon class="icon-star-empty favorite" ng-class="{'active': ctrl.recipe.isFavorite}"></md-icon>
                </md-button>
                {{ctrl.recipe.title}}
            </h2>

            <div class="buttons" flex="40">
                <md-button class="md-raised md-primary with-icon" ng-hide="ctrl.isCooking()" ng-click="ctrl.startCooking()">Cuisiner</md-button>
                <md-button class="md-raised" ng-show="ctrl.isCooking()" ng-click="ctrl.stopCooking()">Terminer</md-button>
                <md-button ng-click="ctrl.edit()">Modifier</md-button>
            </div>
        </div>
    </div>

    <div layout="row" layout-fill>
        <div flex="33" class="ingredients-container">
            <div layout="row" class="recipe-info" layout-padding ng-hide="ctrl.isCooking()">
                <div flex="50" class="time"><span>{{ctrl.recipe.totalTime}}</span><br>minutes</div>
                <div flex="50" class="yield"><span>{{ctrl.recipe.recipeYield}}</span><br>portions</div>
            </div>
            <div layout="row">
                <h3 flex="55">Ingrédients</h3>
                <div flex="40" class="actions">
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            {{ctrl.yield}} <span class="icon-plate"></span>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="value in [2,4,6,8]">
                                <md-button ng-click="ctrl.selectYield(value)">
                                    {{value}} portions
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon ng-class="'icon-' + unit.icon"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="(key, value) in ctrl.units">
                                <md-button ng-click="ctrl.selectUnit(key)">
                                    <p flex>{{value.name}}</p>
                                    <md-icon md-menu-align-target ng-class="'icon-' + value.icon" style="margin: auto 3px auto 0;"></md-icon>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
            <ng-include src="'/views/includes/_ingredients-list.html'"></ng-include>
        </div>
        <div flex="66" class="instructions-container">
            <h3>Préparation</h3>
            <ol class="instructions">
                <li ng-repeat="step in ctrl.recipe.recipeInstructions">{{step}}</li>
            </ol>
        </div>
    </div>
</div>