dashboard {
  .card.recipe {
    background-size: cover;
    background-image: url('../img/default-picture.jpg');
    height: 200px;
    cursor: pointer;

    .card-header {
      padding: 12px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0,0,0,0.8);

      h2 {
        font-size: em(16);
        color: #fff;
      }
    }

    &:hover {
      &::before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .2);
      }
    }

    &:active,
    &:focus {
      &::before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .3);
      }
    }
  }
}