main {
  &::before {
    content: '';
    height: 265px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $brand-primary;
  }

  &.cookmode {
    &::before {
      height: 130px;
    }

    #main {
      padding-left: 40px;
    }

    header {
      display: none;
    }

    .c-header {
      margin-top: 25px;

      .actions {
        display: none;
      }
    }

    sidebar {
      display: none;
    }

    cookmode-menu {
      display: block;
    }

    recipe-detail {
      .left {
        width: 70%;

        .recipe-picture {
          width: 40%;
          height: 100%;
          float: left;
        }

        .pmo-block {
          width: 60%;
          float: right;
        }
      }

      .ingredients {
        font-size: 18px;
      }

      .instructions {
        font-size: 18px;
      }

      .start-cooking {
        display: none !important;
      }
    }
  }
}
