main {
  &::before {
    content: '';
    height: 265px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $brand-primary;
  }

  @media (max-width: $screen-xs) {
    .c-header {
      padding: 0;
      padding-left: 5px;

      .actions {
        right: 0;
      }
    }
  }

  &.cookmode {
    &::before {
      height: 130px;
    }

    @media (min-width: $screen-xs) {
      #main {
        padding-left: 40px;
      }
    }

    header {
      display: none;
    }

    .c-header {
      margin-top: 25px;

      .actions {
        display: none;
      }
    }

    sidebar {
      display: none;
    }

    cookmode-menu {
      display: block;
    }
  }
}
