timer {
  display: block;
  padding: 12px 20px;
  border-top: 1px solid #ddd;

  .wrapper {
    display: flex;
    align-items: center;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    flex: 1;
    font-size: 36px;

    i {
      color: $m-green;
    }
  }

  .actions {
    .btn {
      padding: 2px 12px;
      font-size: 20px;
      line-height: 1.33333;
      border-radius: 2px;
    }
  }

  .completed {
    margin-right: 10px;

    i {
      font-size: 36px;
      color: $m-green;
    }
  }

  .description {
    width: auto;
    overflow: hidden;

    .recipe {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    small {
      font-weight: bold;
    }
  }

  .progress {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
  }
}