.recipe-form-page {
  h4 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  md-input-container {
    margin-bottom: 0;
  }

  form > md-content {
    > div {
      padding: 0 8px;
    }
  }

  .other-info {
    margin-top: 15px;
  }
}