<div class="c-header">
  <h2>{{ 'home.title' | translate }}</h2>
  <ul class="actions">
    <li>
      <a [routerLink]="['/recipes/add']" class="btn btn-icon-text btn-link"><i class="zmdi zmdi-plus"></i> {{ 'common.actions.add' | translate }}</a>
    </li>
  </ul>
</div>

<div class="card c-dark -transparent">
  <div class="action-header">
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-link btn-icon-text" ngbDropdownToggle *ngIf="(selectedTag$ | async)">{{ (selectedTag$ | async)?.name }}&nbsp;&nbsp;<i class="zmdi zmdi-chevron-down"></i></button>
      <button class="btn btn-link btn-icon-text" ngbDropdownToggle *ngIf="!(selectedTag$ | async)">{{ 'home.allRecipes' | translate }}&nbsp;&nbsp;<i class="zmdi zmdi-chevron-down"></i></button>

      <ul class="dropdown-menu dm-icon">
        <li>
          <a [routerLink]="['/recipes']" [ngClass]="{'selected': !(selectedTag$ | async)}">{{ 'home.allRecipes' | translate }}</a>
        </li>
        <li class="dropdown-item" *ngFor="let tag of (tags$ | async)">
          <a (click)="selectTag(tag)" [ngClass]="{selected: (selectedTag$ | async)?._id === tag._id}">{{ tag.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6" *ngFor="let recipe of orderedRecipes" (click)="select(recipe)">
    <div class="card recipe" [style.background-image]="recipe.image ? 'url(' + recipe.image + ')' : null">
      <div class="card-header">
        <h2>{{ recipe.title }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="card blank-state" *ngIf="!_filteredRecipes.length">
  <div class="card-body card-padding" *ngIf="!recipesLoaded">
    <div class="preloader pl-xl">
      <svg class="pl-circular" viewBox="25 25 50 50">
        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
      </svg>
    </div>
    <p class="lead">{{ 'home.loading' | translate }}</p>
  </div>

  <div class="card-body card-padding" *ngIf="recipesLoaded && !recipes.length">
    <i class="blank-icon zmdi zmdi-cutlery"></i>
    <p class="lead">{{ 'home.empty' | translate }}</p>

    <button [routerLink]="['/recipes/add']" class="btn btn-primary btn-icon-text waves-effect"><i class="zmdi zmdi-plus"></i> {{ 'home.addRecipe' | translate }}</button>
  </div>

  <div class="card-body card-padding" *ngIf="recipesLoaded && (selectedTag$ | async)">
    <i class="blank-icon zmdi zmdi-folder-outline"></i>
    <p class="lead">{{ 'home.emptyCategory' | translate }}</p>
  </div>
</div>

<recipes-sidebar></recipes-sidebar>
