<div class="l-block toggled">
  <div class="lb-header palette-Teal bg">
    <div class="logo">
      <img src="./assets/img/logo-icon.png">
      <h1>Basil</h1>
    </div>
  </div>

  <div class="lb-body palette-Teal bg">
    <strong>{{ 'login.welcome' | translate }}</strong><br>
    {{ 'login.invite' | translate }}

    <button type="button" class="btn btn-primary btn-icon-text waves-effect login bg google-oauth"><i class="zmdi zmdi-google"></i> {{ 'login.loginWithGoogle' | translate }}</button>
  </div>

  <div class="links">
    <a (click)="switchLanguage('en')" *ngIf="language !== 'en'">English</a>
    <a (click)="switchLanguage('fr')" *ngIf="language !== 'fr'">Français</a>
  </div>
</div>
