@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

:host {
  display: block;
  overflow: hidden;
  height: 100vh;
  text-align: center;

  &:before {
    content: '';
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
  }

  background-size: 400px;
  background-image: url('../../assets/img/login-bg.jpg');

  .l-block {
    background: #fff;
    border-radius: 2px;
    max-width: 380px;
    width: 100%;
    vertical-align: middle;
    position: relative;
    display: none;
    text-align: left;
    @include z-depth-2dp;

    &.toggled {
      @include animated(fadeInUp, 300ms);
      z-index: 10;
      display: inline-block;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 340px;
    }
  }

  .lb-header {
    padding: 20px 30px 20px;
    border-radius: 1px 1px 0 0;
    background-color: $brand-primary;

    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        height: 36px;
      }

      h1 {
        margin: 0 0 0 10px;
        color: white;
        font-size: 36px;
        font-family: 'Lobster', sans-serif;
      }
    }

    i,
    .avatar-img {
      display: block;
      margin-bottom: 10px;
    }

    .avatar-img {
      border: 2px solid #fff;
    }

    i {
      font-size: 40px;
    }
  }

  .lb-body {
    padding: 20px 30px 30px;
    background-color: white;
    color: $text-color;

    a:hover {
      text-decoration: underline;
    }
  }

  button.login {
    display: block;
    margin: 20px auto 0;
  }

  .links {
    border-top: 1px solid rgba($m-gray, 0.3);
    text-align: center;
    padding: 5px 0 20px;
    margin: 0 30px;

    a {
      color: $m-gray;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}
